#img-slide{
    margin:15px;
    height: 95%;
    width:95%;
    border-radius:5px;
}
#slide-bolo img{
    position:absolute;
    width:100%;
    height:100%;
    margin-left:100%;

    -webkit-transition: margin-left 500ms ease-in;
    -moz-transition: margin-left 500ms ease-in;
    -o-transition: margin-left 500ms ease-in;
    transition: margin-left 500ms ease-in;
}
#slide-bolo{
    overflow:hidden;
    position: relative;
    width:350px;
    height:200px;
}
.ativa{
    margin-left:0%;
}
