:root{
  --pink: #A6535A;
  --pink1:#591E29;
  --pink2:#D98B99;
  --pink3:#8C0303;
  --pink4: #D9ADAD;
  --white: #fff;
  --white-vantagens: #f7f7f7;
  --white-slide: #faf6ed;
  --gray-p-contatos: #7a7676fb;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
  background-color:var(--white);
  background: url(img/background-quem-somos.png) no-repeat;
}

img {
  max-width: 100%;
  display: block;
  
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.header {
  display: grid;
  gap: 3.75rem;
  justify-items: center;
}

.logo span{
  color: var(--pink1);
  font-weight: normal;
}
.header .logo{
  color: var(--pink2);
  font-size: 2.5rem;
  font-weight: 500;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  display: block;
  background: var(--white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.menu a:hover {
  border-color: var(--pink4);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.introducao {
  background: var(--white);
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::before {
  content: "";
  width: 60px;
  height: 4px;
  background: var(--pink2);
  position: absolute;
  top: 30px;
  right: -30px;
}

.botao {
  background: var(--pink2);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: var(--pink);
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url("./img/onda.svg");
}

.subtitulo::before {
  content: "";
  width: 8rem;
  height: 4px;
  background: var(--pink2);
  position: absolute;
}

.vantagens {
  background: var(--white);
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 1.25rem;
  border-left: 4px solid transparent;
}

.vantagens-item:nth-child(odd) {
  background: var(--white-vantagens);
}

.vantagens-item:hover {
  border-color: var(--pink2);
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: var(--white);
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

/*configurando slide */
.bolos-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.bolos-lista li {
  cursor: pointer;
}

.bolos-lista::-webkit-scrollbar {
  width: 18px;
}

.bolos-lista::-webkit-scrollbar-thumb {
  background: var(--pink2);
  border-left: 4px solid var(--white-slide);
  border-right: 4px solid var(--white-slide);
}

.bolos-lista::-webkit-scrollbar-track {
  background: var(--white-slide);
}

.bolos-descricao {
  grid-column: 3;
}

.bolos-descricao section {
  margin-bottom: 3rem;
}

/* section contatos */
.conteudo-sobre {
  margin: auto;
}

.conteudo-sobre p {
  color: var(--gray-p-contatos);
}

.rotacionar {
 
}
.conteudo-sobre_img_valor {

}

/***@@@@@******************INICIO fale conosco*******@@@@**********/
.fale_conosco {
  background: url(img/background-quem-somos.png) no-repeat;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: medium;
  margin: auto;
}
.form label,
.form input,
.form textarea,
.form button {
  display: block;
}

.form label {
  color: black;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.1em;
  margin-bottom: 0.5em;
  border: 1px solid transparent;
  border-radius: 4px;
}

.form textarea {
  min-height: 5rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {  
  outline: none;
  border-color: black;
  box-shadow: 0 0 0 3px pink;
}

.form button {
  display: block;
  padding: 0.3rem;
  background: black;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: pink;
}
.fale_conosco_mapa {
  padding: 15px;
  width: 300px;
  height: 200px;
}


/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) { 
  .subtitulo {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }
  .introducao::before {
    display: none;
  }
  img {
    max-width: 100%;
    display: block;
  }
  .fale_conosco_mapa {
    width: 300px;
    height: 200px;
    border-radius: 2rem;
    margin: auto;
  }
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  body {
    gap: 30px;
    margin-top: 20px;
  }
  .header {
    gap: 30px;
  }
  .conteudo {
    grid-template-columns: 1fr;
  }
  .introducao {
    text-align: left;
    justify-items: start;
  }
  .introducao::before {
    display: none;
  }

}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  h1 {
      font-size: 4em;
  }
  .rotacao {
      padding-top: 100px;
  }
  .texto-ds2 {
      width: 210px;
  }
  .texto-ds2 {
      top: 80%;
  } 
  .bolos-lista {
    grid-column: 1;
    border: 1px solid rgb(255, 0, 149);
  }
} 

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    text-align: center;
  }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) { 

}

