@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
  --font-h1: 'Noto Serif', serif;
  --pink: #A6535A;
  --pink1:#591E29;
  --pink2:#D98B99;
  --pink3:#8C0303;
  --pink4: #D9ADAD;
  --pink5: #d9adad4d;
  --white: #fff;
  --black : #000000;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
  background-color:var(--white);
  background: url(../img/background-quem-somos.png) no-repeat;
}

img {
  max-width: 100%;
  display: block;
  
}

a {
  text-decoration: none;
  font-family: var(--font-h1);
  font-weight: 500;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
  
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  font-family: var(--font-h1);
}

.logo span{
  color: var(--pink1);
  font-weight: normal;
  font-family: var(--font-h1);
}
.header .logo{
  color: var(--pink2);
  font-size: 2.5rem;
  font-weight: 500;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.menu a {
  display: block;
  background: var(--white);
  padding: 10px 15px;
  border-radius: 1rem;
  color: var(--black);
  border: 2px solid #fff;
}


main {
  background-color: var(--white);
}

.menu a:hover {
  border-color: var(--pink4);
}

.conteudo-titulo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.conteudo-titulo img{
  margin: auto;
  width : 150px;
  height: 250px;
  border-radius: 1rem;
}


.titulo {
  font-size: 3.3rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
  align-self: center;
  background: url(../img/onda.svg);
}

.recheios {
  border: 5px dotted var(--pink2);
  width: 200px;
  height: 200px;
  text-align: center;
  align-content: center;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}


.bolo {
  display: flex;
  flex-direction: column;
  margin: auto;
  width : 200px;
  height: 400px;
  text-align: center;
  align-items: center; 
  border-radius: 1rem;
  background-color: var(--pink5);
  transition: all 0.2s;
}


.bolo img,
.kit img {
  width : 150px;
  height: 250px;
}

.bolo img:hover,
.kit img:hover {
  opacity: 0.90;
  transform:scale(1.2);
  transition: all 0.5s;
  padding-bottom: 1rem;
}


.conteudo-bolo {
  max-width: 62.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: ;
  margin: ;
}

.botao {
  background: var(--pink2);
  color: var(--white);
  border: solid 1px var(--pink1);
  padding: 2px 30px;
  border-radius: 10px;
  transition: all 0.2s;
  margin-top: 10px;
}

.botao:hover {
  background: var(--white);
  color: var(--pink1);
}

.conteudo-kit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 62.5rem;
  border: 5px dotted var(--pink2);
  background-color: var(pink5);
  border-radius: 1rem;
  text-align: center;
  border: 5px dotted var(--pink4);
  border-radius: 1rem;
  padding: 2rem;
}

.kit {
  display: flex;
  flex-direction: column;
  margin: auto;
  width : 200px;
  height: 400px;
  text-align: center;
  align-items: center; 
  border-radius: 1rem;
  transition: all 0.2s;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) { 
  .titulo{
    font-size: 2.5rem;
    margin-top: -50px;
  }
  
  p {
    font-size: 1rem;
  }
  .conteudo-titulo,
  .conteudo-kit{
    grid-template-columns: 1fr;
  }
  .conteudo-bolo {
    grid-template-columns: 1fr  1fr;
  }
  .header {
    gap: 1rem; 
  }
  .menu a {
    display: block;
    background: var(--white);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #fff;
  }
}
/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  body {
    gap: 30px;
    margin-top: 20px;
  }
  .header {
    gap: 30px;
  }
  .conteudo-titulo,
  .conteudo-kit{
    grid-template-columns: 1fr;
  }
  

}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

} 

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) { 
}